@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

body {
  width: 98.8vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*video background..................................................................*/
.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the alpha value to control the dimming effect */
  pointer-events: none;
  /* Allows user interaction with the video beneath the overlay */
}

/*video background...................................finish...............................*/
/*profile.................................................................................*/
.bigcard {
  position: absolute;
  left: 50%;
  top: 50%;
}

.content {
  width: 290px;
  height: 260px;
  overflow: hidden;
  transform: translate(-50%, -50%);
  color: white;
}

.click {
  width: 290px;
  height: 50px;
  position: absolute;
  top: 66%;
  transform: translate(-50%, -50%);
  color: white;
}

.flipcard {
  position: absolute;
  width: 290px;
  height: 260px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.content:hover .flipcard {
  transform: rotateY(180deg);
}

.content1, .content2 {
  width: 290px;
  height: 260px;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  color: white;
}

.content2 {
  overflow: hidden;
  background: transparent;
  transform: rotateY(180deg);
}

.links {
  position: absolute;
  left: 0;
  top: 0;
  animation: fall 3s linear forwards;
}

@keyframes fall {
  0% {

    top: 0;
    left: 0;
  }

  30% {
    top: 55%;
  }

  60% {
    top: 33%;
  }

  100% {

    top: 87%;
    left: 41%;
    animation: spin 2s linear forwards;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    left: 30%;
  }

  100% {
    transform: rotate(360deg);
    left: 40%;
  }
}

/*profile................................................finish.................................*/
/*skills........................................................................................*/
.bar {
  width: 100%;
  height: 6px;
  background-color: skyblue;
  border-radius: 30px;
  margin: 50px 0;
  overflow: hidden;
}

.progrs {
  height: 100%;
  background-color: blue;
  animation: progr 3s linear forwards;
}

@keyframes progr {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

/*skills.........................................finish.........................................*/
/*footer........................................................................................*/
.footer {
  position: relative;
  width: 100%;
  background: #282828;
  min-height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.social-icon, .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  gap: 10px;
}

.social-icon__item, .menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link img {
  height: 30px;
  width: 30px;
}

.social-icon__link img:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://static.vecteezy.com/system/resources/thumbnails/009/302/625/small/sea-waves-clipart-design-illustration-free-png.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 5s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 5s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 4s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 4s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: -1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}
/*footer................................................finish..................................*/